html, body {
 margin: 0;
  font-family:'Titillium web', sans-serif; 
}
#container{
border: 1px dashed black;
 width:500px
 margin: 0 auto; 

}
#container header {
padding: 0 20px;
 position: relative; 
}
#container header ul {
list-style:none;
  padding:0;
   margin: 0 ; 
}
#container header ul li {
display: inline-block;
  margin-right: 10px;
  
}
#container header ul li a  {
text-decoration: none;
  color: white;
  background-color: dodgerblue;
  padding: Spx;
  display: block;
}

