html, body {
 margin: 0;
}

.image1
{
width:200px;
height:200px;
}

#container{
border: 1px dashed black;
 width: 500px
 margin: 0 auto; 

}
#container header {
padding: 0 20px;
position: relative; 

}
#container header ul {
text-align: center;
list-style: none;
padding: 0;
margin: 0 ; 
 
}
#container header ul li {
display: inline-block;
background-color: #344960; 
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: white;
margin-right: 10px;
  
}
#container header ul li a  {
text-decoration: none;
  padding: 5px;
  display: block;
}
.thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }


