html, body {
 margin: 0;
}

#container{
border: 1px dashed black;
 width: 500px
 margin: 0 auto; 

}
#container header {
padding: 0 20px;
position: relative; 

}
#container header ul {
text-align: center;
list-style: none;
font-family: "Times New Roman", Times, serif;
padding: 0;
margin: 0 ; 
 
}
#container header ul li {
display: inline-block;
  margin-right: 10px;
  
}
#container header ul li a  {
text-decoration: none;
  padding: 5px;
  display: block;
}

